th, caption{
    font-size:16pt;
    background-color:skyblue;
    border:3px groove darkblue;
    font-weight:bold;
}
table{
    border-spacing:0
}
td{
    border:1px solid #606060;
}
*[scope^="col"]{
    column-width:300px;
}
*[scope^="row"]{
    font-size:45pt;
}
thead th{
    background-color:skyblue
}
th + td{
    font-weight:bold;
}
body{
    text-align:center;
    background-color:#cfe2f3;
}
