:root {
	--main-bg-color: #ffe1b2;
}
body {
	margin: 10px;
	border: 5px solid #51350a;
	background-color: var(--main-bg-color);
	text-align: center;
	font: bold 18px small-caps
}
#wantedlist>h3 {
	text-decoration: underline;
}
main ul {
	text-align: left;
}
